<!DOCTYPE html>
<html lang="en">
  <div class="attribution-mobile">
    Coded by
    <a class="attribution-link" href="https://github.com/MpZero" target="_blank"
      >Gonzalo Gomez.</a
    >
  </div>
</html>
