<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="attribution.css" />
  </head>
  <div class="attribution">
    <%- include("navbarMobile") %> Coded by
    <a href="https://github.com/MpZero" target="_blank">Gonzalo Gomez</a>.
  </div>
</html>
