<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="navbar.css" />
  </head>
  <nav class="nav">
    <div class="navbar-content-wrapper">
      <div class="navbar-links-wrapper">
        <a class="link" href="/message-board">Home</a>
        <a class="link" href="/create-message">Add new Message</a>
        <a class="link" href="/membership">Become a member</a>
        <a class="link" href="/log-out">log out</a>
      </div>
      <%- include("attributionMobile") %>
    </div>
  </nav>
</html>
