<nav class="nav">
  <div class="navbar-content-wrapper">
    <nav class="navbar-links-wrapper">
      <a class="link" href="/message-board"
        >Home <img class="img-navbar" src="images/home.png" alt=""
      /></a>
      <a class="link" href="/create-message"
        >New Message <img class="img-navbar" src="images/new.png" alt=""
      /></a>
      <a class="link" href="/membership"
        >Membership <img class="img-navbar" src="images/vip.png" alt=""
      /></a>
      <a class="link" href="/log-out"
        >Log Out <img class="img-navbar" src="images/log-out.png" alt=""
      /></a>
    </nav>
    <%- include("attribution") %>
  </div>
</nav>
