<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="logIn.css" />
    <link rel="stylesheet" href="errors.css" />
    <title><%= title%></title>
  </head>
  <body>
    <main class="main-wrapper">
      <h1 class="h1">Log In</h1>
      <div class="form-wrapper">
        <%- include("partials/errors") %>
        <form class="form" action="/log-in" method="POST">
          <label for="username">Username: </label>
          <input
            type="text"
            name="username"
            id="username"
            value="<%= username || '' %>"
            required
          />
          <label for="password">Password: </label>
          <input type="password" name="password" id="password" required />
          <button class="form-btn" type="submit">Submit</button>
        </form>
        <div class="signup-link-wrapper">
          <p>Not a User?</p>
          <a href="/sign-up" class="sign-up form-btn">Sign up</a>
        </div>
      </div>

      <%- include("partials/attribution") %>
    </main>
  </body>
</html>
