<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="layout.css" />
    <link rel="stylesheet" href="updateMem.css" />
    <link rel="stylesheet" href="navbarMobile.css" />
    <link rel="stylesheet" href="navbar.css" />
    <link rel="stylesheet" href="attribution.css" />
    <link rel="stylesheet" href="errors.css" />

    <title><%= title%></title>
  </head>
  <body>
    <div class="page-wrapper">
      <%- include("partials/navbar") %>
      <main class="form-wrapper">
        <h1>Membership</h1>
        <div class="error-wrapper"><%- include("partials/errors") %></div>
        <form class="form" action="/membership" method="POST">
          <label for="password"
            >Insert secret password to become a Member:
          </label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="53cr37"
            maxlength="6"
            required
          />
          <button class="submit-btn" type="submit">Submit</button>
        </form>
      </main>
      <%- include("partials/navbarMobile") %>
    </div>
  </body>
</html>
