.attribution {
  background-color: var(--grey--900);
  font-size: clamp(0.4rem, 2vw, 0.8rem);

  text-align: center;
}

.attribution-mobile {
  font-size: clamp(0.4rem, 2vw, 0.8rem);
  display: flex;
  justify-content: center;
  gap: 0.2rem;
}

.attribution-link {
  color: var(--green);
  transition: color 0.3s, background-color 0.3s ease;
}

.attribution-link:link {
  color: var(--green);
}

.attribution-link:focus {
  text-decoration: none;
  background: black;
  color: var(--white);
}

.attribution-link:hover {
  text-decoration: none;
  background: var(--green);
  color: var(--grey--900);
}

.attribution-link:active {
  background: var(--grey--900);
  color: var(--green);
}

@media (min-width: 1024px) {
  .attribution-mobile {
    display: none;
  }

  .attribution {
    position: fixed;
    bottom: 4px;
    justify-self: center;

    gap: 0.2rem;
  }
}
