.attribution {
  position: sticky;
  bottom: 0px;
  background-color: var(--grey--900);
  font-size: 0.4rem;
  text-align: center;
}

.attribution > a {
  color: var(--green);
}

a:link {
  color: var(--green);
}

a:focus {
  text-decoration: none;
  background: black;
  color: var(--white);
}

a:hover {
  text-decoration: none;
  background: var(--green);
  color: var(--grey--900);
}

a:active {
  background: var(--grey--900);
  color: var(--green);
}
