/* * {
  color: var(--text);
} */
.main-wrapper {
  color: var(--text);
  margin: 0 auto;
  background-color: var(--grey--800);
  text-align: center;
  display: grid;
  min-height: 100vh;
  grid-template-rows: 3rem auto 1.5rem;
}

.h1 {
  padding-top: 1rem;
}

.links-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 7.3rem 2.3rem;
}

.link {
  color: var(--text);
  border: none;
  padding: 1rem;
  background-color: var(--grey--700);
  border-radius: 10px;
  font-weight: 600;
  text-decoration: none;
  will-change: transform;
  transition: color 0.4s, background-color 0.8s, transform 1s ease;
}

.link:hover,
.link:focus {
  transform: translateY(-4px);
  background-color: var(--green);
  color: var(--grey--900);
}

/* .attribution {
  background-color: var(--grey--00);
} */

@media (min-width: 1024px) {
  .links-wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .link {
    padding: 1.2rem 6rem;
  }
}
