.page-wrapper {
  /* display: grid; */
  /* grid-template-columns: 1fr 3fr; */
  background-color: var(--grey--900);
  color: var(--text);
}

@media (min-width: 1024px) {
  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}
