.main-wrapper {
  background-color: var(--grey--800);
  display: grid;
  height: 100vh;
  /* grid-template-rows: 3rem auto 1.5rem; */
  /* grid-template-rows: rem auto auto 1.5rem; */
  text-align: center;
}

.h1 {
  padding-top: 1rem;
  color: var(--text);
}

label {
  font-size: 0.8rem;
}

.form-wrapper {
  padding: 1rem;
}

.form {
  color: var(--text);
  text-align: start;
  display: flex;
  flex-direction: column;
  padding-block: 2rem;
}

.form > input#username {
  margin-bottom: 1rem;
}

.form-btn {
  margin-top: 1rem;
  color: var(--text);
  background-color: var(--grey--700);
  border: none;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: color 0.4s, background-color 0.8s, transform 1s ease;
}

.form-btn:hover {
  color: var(--grey--900);
  background-color: var(--green);
  transform: translateY(-4px);
}

.signup-link-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text);
}

.sign-up {
  margin-top: 0.2rem;
}

.attribution {
  position: fixed;
  bottom: 4px;
  justify-self: center;
}

@media (min-width: 700px) {
  .form-wrapper {
    min-width: 700px;
    justify-self: center;
  }
}
