.main-wrapper {
  background-color: var(--grey--800);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  align-items: center;
}

.h1 {
  padding-top: 1rem;
  color: var(--text);
}

label {
  font-size: 0.8rem;
}

.form-wrapper {
  padding: 1rem;
  min-width: 100%;
}

.form {
  color: var(--text);
  text-align: start;
  display: flex;
  flex-direction: column;
  padding-block: 1.5rem;
}

.form > input#username {
  margin-bottom: 1rem;
}

.form-btn {
  margin-top: 1rem;
  color: var(--text);
  background-color: var(--grey--700);
  border: none;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: color 0.4s, background-color 0.8s, transform 1s ease;
}

.form-btn:hover {
  color: var(--grey--900);
  background-color: var(--green);
  transform: translateY(-4px);
}

.signup-link-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text);
}

.sign-up {
  margin-top: 0.2rem;
}

.attribution {
  font-size: clamp(0.5rem, 2vw, 0.8rem);
  color: var(--text);
  text-align: center;
  margin-top: auto;
  padding-top: 1rem;
}

.attribution-link {
  color: var(--green);
  text-decoration: none;
  transition: color 0.4s, background-color 0.8s ease;
}

.attribution-link:hover {
  background: var(--green);
  color: var(--grey--900);
}

@media (min-width: 700px) {
  .form-wrapper {
    min-width: 700px;
  }
}
