.nav {
  font-size: 0.5rem;
  background-color: var(--grey--900);
  display: none;
}

@media (min-width: 1024px) {
  .nav {
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    font-size: clamp(0.2rem, 2vw, 0.6rem);
  }

  .navbar-content-wrapper {
    position: sticky;
    top: 20px;
    gap: 1rem;
    display: grid;
  }

  .navbar-links-wrapper {
    display: grid;
    gap: 1rem;
  }

  .link {
    border: none;
    font-weight: 600;
    color: var(--text);
    font-size: clamp(0.4rem, 2vw, 0.7rem);
    padding: 1rem;
    background-color: var(--grey--700);
    border-radius: 10px;
    font-weight: 600;
    text-decoration: none;
    will-change: transform;
    transition: color 0.4s, background-color 0.8s, transform 1s ease;
    display: flex;
    justify-content: space-between;
  }

  .link:hover,
  .link:focus {
    transform: translateY(-4px);
    background-color: var(--green);
    color: var(--grey--900);
  }

  .img-navbar {
    width: 25px;
  }
}
