.nav-mobile {
  display: flex;
  justify-content: space-evenly;
}

.link-mobile {
  padding: 0.4rem;
  background-color: var(--grey--700);
  border-radius: 10px;
  will-change: transform;
  transition: background-color 0.5s, transform 0.5s ease;
  border-radius: 10px;
  flex: 1;
  display: flex;
  justify-content: center;
}

.link-mobile:hover,
.link-mobile:focus {
  transform: translateY(-4px);
  background-color: var(--grey--800);
}

.nav-mobile {
  padding: 0.3rem 0.2rem 0.3rem 0.2rem;
  gap: 0.2rem;
}

.img-mobile {
  width: 20px;
}

@media (min-width: 1024px) {
  .nav-mobile {
    display: none;
  }
}
