@media (prefers-color-scheme: light) {
  :root {
    --text: hsl(213, 58%, 4%);
    --background: hsl(210, 50%, 98%);
    --primary: hsl(216, 56%, 53%);
    --secondary: hsl(271, 56%, 73%);
    --accent: hsl(291, 56%, 62%);
    --grey--800: hsl(0, 0%, 12%);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: hsl(215, 60%, 96%);
    --background: hsl(216, 45%, 2%);
    --primary: hsl(216, 56%, 47%);
    --secondary: hsl(271, 56%, 27%);
    --accent: hsl(291, 56%, 38%);
    --grey--800: hsl(0, 0%, 12%);
  }
}

/* @media (prefers-color-scheme: light) {
  :root {
    --text: hsl(100, 10%, 6%);
    --background: hsl(90, 40%, 98%);
    --primary: hsl(92, 42%, 26%);
    --secondary: hsl(93, 58%, 66%);
    --accent: hsl(93, 74%, 47%);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: hsl(100, 10%, 94%);
    --background: hsl(90, 40%, 2%);
    --primary: hsl(92, 42%, 74%);
    --secondary: hsl(93, 58%, 34%);
    --accent: hsl(93, 74%, 53%);
  }
} */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

ul {
  padding: 0;
  list-style: none;
}
