.main-wrapper {
  background-color: var(--grey--800);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2rem;
  color: var(--text);
  padding-top: 1rem;
}

.home-link {
  color: var(--green);
}

.form-wrapper {
  max-width: 100%;
}

.errors-ul {
  text-align: center;
}

.form {
  text-align: start;
}

.form,
.login-link-wrapper {
  color: var(--text);
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.login-link-wrapper {
  margin-top: 0.8rem;
}

.form-btn {
  color: var(--text);
  background-color: var(--grey--700);
  border: none;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: color 0.4s, background-color 0.8s, transform 1s ease;
  text-decoration: none;
}

.form-btn:hover {
  color: var(--grey--900);
  background-color: var(--green);
  transform: translateY(-4px);
}
label {
  font-size: 0.8rem;
}

.login-link-wrapper {
  margin-top: 0.8rem;
  text-align: center;
}

.attribution {
  font-size: clamp(0.5rem, 2vw, 0.8rem);
  color: var(--text);
  text-align: center;
  margin-top: auto;
  padding-top: 1rem;
}

.attribution-link {
  color: var(--green);
  text-decoration: none;
  transition: color 0.4s, background-color 0.8s ease;
}

.attribution-link:hover {
  background: var(--green);
  color: var(--grey--900);
}

@media (min-width: 700px) {
  .form-wrapper {
    min-width: 700px;
    justify-self: center;
  }
}
