.main-wrapper {
  background-color: var(--grey--800);
  height: 100vh;
  display: grid;
  text-align: center;
  justify-content: center;
}
h1 {
  font-size: 2rem;
  color: var(--text);
}

.home-link {
  color: var(--green);
}

.form-wrapper {
  max-width: 700px;
}

.form {
  text-align: start;
}

.form,
.login-link-wrapper {
  padding-inline: 1rem;
  color: var(--text);
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.login-link-wrapper {
  margin-top: 0.8rem;
}

.form-btn {
  color: var(--text);
  background-color: var(--grey--700);
  border: none;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: color 0.4s, background-color 0.8s, transform 1s ease;
  text-decoration: none;
}

.form-btn:hover {
  color: var(--grey--900);
  background-color: var(--green);
  transform: translateY(-4px);
}
label {
  font-size: 0.8rem;
}
.attribution {
  color: var(--text);
  background-color: var(--grey--800);
  font-size: clamp(0.4rem, 2.5vw, 1rem);
}

.attribution-link {
  color: var(--green);
  transition: color 0.3s, background-color 0.3s ease;
}

.attribution-link:link {
  color: var(--green);
}

.attribution-link:focus {
  text-decoration: none;
  background: var(--grey--900);
  color: var(--white);
}

.attribution-link:hover {
  text-decoration: none;
  background: var(--green);
  color: var(--grey--900);
}

.attribution-link:active {
  background: var(--grey--900);
  color: var(--green);
}
@media (min-width: 700px) {
  .form-wrapper {
    min-width: 700px;
    justify-self: center;
  }
}
