.main-wrapper {
  background-color: var(--grey--800);
  display: grid;
  text-align: center;
}

h1 {
  color: var(--text);
  padding-top: 1rem;
  /* font-size: 1.8rem; */
}

.home-link {
  color: var(--green);
}

.form-wrapper {
  padding: 1rem;
}

.home-link-wrapper {
  display: grid;
  justify-content: start;
}
.form {
  color: var(--text);
  text-align: start;
  display: flex;
  flex-direction: column;
  padding-block: 2rem;
}

.form > input {
  margin-bottom: 1rem;
}

.form > button:nth-child(11) {
  margin-top: 0.2rem;
}

.form-btn {
  margin-top: 1rem;
  border: none;
  background-color: var(--grey--700);
  color: var(--text);
}

.form-btn {
  color: var(--white);
  background-color: var(--grey--700);
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: color 0.4s, background-color 0.8s, transform 1s ease;
}

.form-btn:hover {
  color: var(--grey--900);
  background-color: var(--green);
  transform: translateY(-4px);
}
label {
  font-size: 0.8rem;
}

@media (min-width: 700px) {
  .form-wrapper {
    min-width: 700px;
    justify-self: center;
  }
}
