.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: clamp(1.4rem, 2.5vw, 2rem);
  text-align: center;
  padding-top: 1rem;
}

.error-wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--grey--700);
}

.form-wrapper {
  flex-grow: 1;
  padding: 0 1rem 2rem 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.form > label {
  font-size: clamp(0.7rem, 2vw, 1rem);
  margin-bottom: 0.2rem;
}

.form > button:nth-child(3) {
  margin-top: 0.5rem;
}

.submit-btn {
  font-size: clamp(0.9rem, 2.5vw, 1.2rem);
}

.submit-btn {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  color: var(--text);
  background-color: var(--grey--700);
  text-decoration: none;
  transition: color 0.4s, background-color 0.5s ease;
  padding: 0.2rem;
  text-align: center;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: var(--green);
  color: var(--grey--900);
}

@media (min-width: 1024px) {
  .page-wrapper {
    display: grid;
  }

  .error-wrapper {
    margin-inline: 4rem;
  }
  .form-wrapper {
    min-height: 100vh;
    padding: 0px;
  }

  .form {
    padding: 0 4rem 0 4rem;
  }
}
